#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_build:

override_dh_auto_test:

override_dh_fixperms:
	dh_fixperms
	chmod +x debian/appimage-autoinstaller/usr/bin/appimage-installer.sh
	chmod +x debian/appimage-autoinstaller/usr/bin/appimage-sync
