#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	chmod +x debian/appimage-autoinstaller/usr/local/bin/appimage-installer.sh
	chmod +x debian/appimage-autoinstaller/usr/local/bin/appimage-sync
